{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Church of Christ Ojodu | Located at Lagos Igbehinadun</title>

  <!-- Meta Description -->
  <meta name="description" content="Welcome to Church of Christ Ojodu, located at Lagos Igbehinadun. Join us for worship and fellowship." />

  <!-- Meta Keywords -->
  <meta name="keywords" content="Church of Christ Ojodu, Lagos Igbehinadun, worship, fellowship, community" />

  <!-- URL Structure -->
  <link rel="canonical" href="https://churchofchristojodu.org/churchofchristojodu-located-at-lagos-igbehinadun/" />

  <!-- Robots Meta Tag -->
  <meta name="robots" content="index, follow" />
  <link rel="icon" type="image/x-icon" href="../static/img/coc-logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f3b99b4317.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="{%  static 'css/blog.css' %}">
</head>
<body style="font-family: 'Raleway', sans-serif;">
 
    <div style="background:  rgba(255, 255, 255, 0.7); backdrop-filter: blur(10px)" class="offcanvas offcanvas-end" id="carousel">
      <!--header-->
      <div class="offcanvas-header ">
        <img class="offcanvas-title " style="width: 80px;" src="../static/img/coc-logo.png" alt="">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
      </div>
      <!--body-->
      <div class="offcanvas-body p-4  ">
        <a style="color: black;font-size: 15px;font-weight: lighter;" class="text-decoration-none " href="{% url 'index' %}">
          <p>Home</p>
        </a>
        <a style="color: black;font-size: 15px;" class="text-decoration-none  " href="{% url 'about' %}">
          <p>About</p>
        </a>
        <a  style="color: black;font-size: 15px;" class="text-decoration-none" href="{% url 'feedback' %}">
          <p>Contact Us</p>
        </a>
        <a style="color: black;font-size: 15px;"  class="text-decoration-none" href="{% url 'preacher' %}">
          <p>Our Preacher</p>
        </a>
        <a style="color: black;font-size: 15px;"  class="text-decoration-none" href="{% url 'teaching_sermon' %}">
          <p>Teaching's and <br> Sermon's</p>
        </a>
        <a style="color: black;font-size: 15px;" class="text-decoration-none" href="{% url 'bulletins' %}">
          <p>Bulletin</p>
        </a>
        <a style="color: black;font-size: 15px;" class="text-decoration-none" href="{% url 'first' %}">
          <p>First Timer</p>
        </a>
      </div>
  
    </div>
  
    <!--hamburger-menu-->
    <nav class="d-sm-flex p-3 navbar-dark bg-dark ">
      <div class="container">
        <center>
          <span style="font-size: 12px;color: white;" class="" href="#">Opening Hours - 09 : 00AM Every Sunday <span>|</span></span>
         <!-- Search input with search icon -->
       
         
         <div>
          <a  class="" href="https://www.facebook.com/profile.php?id=61553202030922"><button style="font-size: 12px;" class="btn btn-outline-primary"><i class="fa-brands fa-facebook"></i></button></a>
  
          <a  class="" href="https://instagram.com/ojoduchurchofchrist?igshid=OGY3MTU3OGY1Mw=="><button style="font-size: 12px;" class="btn btn-outline-danger"><i class="fa-brands fa-instagram"></i></button></a>
  
          <a  class="" href="https://www.youtube.com/@Church-of-christ-ojodu"><button style="font-size: 12px;" class="btn btn-outline-danger"><i class="fa-brands fa-youtube"></i></button></a>
     
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            
        </button>
         </div>
          </center>
        
      </div>
      <div class="container-fluid d-none d-sm-block">
        <center>
            <a style="color: white;" class="text-decoration-none" href=""><button style="font-size: 12px;" class="btn btn-outline-secondary"><i class="fa-regular fa-envelope"></i></button> <span style="font-size: 12px;">churchofchristojodu@gmail.com</span></a>
        </center>
    </div>
    
    <div class="container-fluid d-none d-sm-block">
        <center>
            <a style="color: white;" class="text-decoration-none" href=""><button style="font-size: 12px;" class="btn btn-outline-primary"><i class="fa-solid fa-phone"></i></button> <span style="font-size: 12px;">Phone: +234 091 3822 3602</span></a>
        </center>
    </div>
    
  </nav>
    <nav class="navbar navbar-expand-md navbar-dark  ">
      <div class="container-fluid mt-1 ">
       <a href="{% url 'index' %}"> <img class="img-fluid" style="width: 50px;margin-left: 20px;" src="../static/img/coc-logo.png" alt=""></a>
  
        <div style="background-image: url('');" class=" m-0 text-white">
          <button class="btn btn-secondary mt-3 m-3 " type="button" data-bs-toggle="offcanvas" data-bs-target="#carousel">
            <i class="fa-solid fa-bars fa-fade"></i>
          </button>
        </div>
      </div>
    </nav>
      <section></section>

 
      {% block content %}
      <div style="background-color: lightgray;" class="container-fluid ">
        <br> <h1   class="text-center">Teachings & Sermons</h1>
          <div class="row">
              <div class="col-md-9">
                <section class="blog-section">
                  {% for post in posts %}
                      {% if forloop.first %}
                          <div class="blog-post large-post">
                              <img src="{{ post.image.url }}" style="width: 100%;" class="large-img mb-3" alt="{{ post.title }}">
                      {% else %}
                          <div class="blog-post">
                              <img src="{{ post.image.url }}" class="small-img mb-3" alt="{{ post.title }}">
                      {% endif %}
                      <h5 class="card-title">{{ post.title }}</h5>
                      <p style="font-size: 14.1px;color: #878787;line-height: 2.2;font-weight: 500;" class="card-text">{{ post.content|truncatechars:100 }}</p>
                      <p class="card-text text-muted">Posted by {{ post.author.username }}  on <br> {{ post.published_date }}</p>
                      <a href="{% url 'teaching_details' pk=post.pk %}" style="background-color: #d82a4e;color:white;" class="btn btn">Read More</a>
                  </div>
                  {% endfor %}
              </section>
              
      
                  <!-- Pagination links -->
                  <div class="pagination">
                      <span class="step-links">
                          {% if posts.has_previous %}
                              <a href="?page=1">&laquo; first</a>
                              <a href="?page={{ posts.previous_page_number }}">previous</a>
                          {% endif %}
      
                          <span class="current">
                              Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                          </span>
      
                          {% if posts.has_next %}
                              <a href="?page={{ posts.next_page_number }}">next</a>
                              <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                          {% endif %}
                      </span>
                  </div>
              </div>
      
              <!-- Sidebar -->
              <div class="col-md-3">
                  <div class="sidebar">
                      <div class="card mb-3">
                          <div class="card-header">
                              Search and Categories
                          </div>
                          <div class="card-body">
                              <form class="search-form mb-3" action="{% url 'teaching_sermon' %}" method="GET">
                                  <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Search..." name="q">
                                      <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
                                  </div>
                              </form>
                              <div class="category-dropdown">
                                  <div class="card card-links">
                                      <div class="card-body">
                                          <h5 class="card-title">Categories</h5>
                                          <ul class="list-unstyled">
                                              <li><a style="text-decoration: none;color: grey;" href="#">Teaching</a></li>
                                              <li><a style="text-decoration: none;color: grey;" href="#">Sermon</a></li>
                                              <!-- Add more category links -->
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {% endblock %}
      

       <!-- Footer Section -->
       <footer style="color: white;background: rgb(0, 30, 44);" class="footer p-5">
        <div class="container">
            <div class="row">
              <div class="col-md-4">
                <h4 style="font-size: 30px;font-weight: lighter;">Contact Us</h4>
                <p><i class="fas fa-map-marker-alt"></i> 9,IGBEHINADUN STREET, OFF ODOZI,OJODU</p>
                <p><i class="fas fa-phone"></i> Phone: +1 (123) 456-7890</p>
                <p><i class="fas fa-envelope"></i> Email: churchofchristojodu <br> @gmail.com</p>
            </div>
            <div class="col-md-4">
              <h4 style="font-size: 30px;font-weight: lighter;">Quick Links</h4>
              <ul class="list-unstyled text-decoration-none">
                  <li><a style="color: white;" class="text-decoration-none" href="{% url 'index' %}">Home</a></li>
                  <br>
                  <li><a style="color: white;" class="text-decoration-none" href="{% url 'about' %}">About Us</a></li>
                  <br>
                  <li><a style="color: white;" class="text-decoration-none" href="{% url 'feedback' %}">Contact</a></li>
              </ul>
          </div>
                <div class="col-md-4">
                    <h4 style="font-size: 30px;font-weight: lighter;">Connect With Us</h4>
                    <p>Stay updated with our latest news and updates:</p>
                    <div class="social-icons">
                      <a href="https://www.facebook.com/profile.php?id=61553202030922"><i style="font-size: xx-large;" class="fab fa-facebook"></i></a>
                      <a href="https://instagram.com/ojoduchurchofchrist?igshid=OGY3MTU3OGY1Mw=="><i style="font-size: xx-large;color: red;" class="fab fa-instagram"></i></a>
                      <a href="https://www.youtube.com/@Church-of-christ-ojodu"><i style="font-size: xx-large;color: red;" class="fa-brands fa-youtube"></i></a>
                  </div>
                </div>
            </div>
        </div>
      </footer>
      <!-- End Footer Section -->
</body>
</html>